<mat-dialog-content [perfectScrollbar]>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Izmeni broj stola</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="matDialogRef.close(null)"
    ></button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup]="form" (ngSubmit)="submit()">
      <div class="col">
        <div class="form-group">
          <label class="text-black font-w500">Broj stola</label>
          <input
            type="number"
            class="form-control"
            formControlName="number"
            min="0"
            max="1000"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Sačuvaj</button>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
