
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-xxl-4">
                <div class="row">
                    <div class="col">
                        <div class="card">
                                <img class="add-transparency" src="../../../../assets/images/managerStats.png" alt="slika">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-6">
                        <div class="card">
                            <app-graph-daily-target-income></app-graph-daily-target-income>
                        </div>
                    </div>
<!--                     Najprodavanija jela, al ne uklapa se lepo u ekran :/
 --><!--                     <div class="col-xl-12 col-lg-6 col-md-6">
                        <div class="card trending-menus">
                            <app-daily-trending-menus [data]="trendingMenus"></app-daily-trending-menus>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-9 col-xxl-8">
                <div class="row">
                    <div class="col-xl-4 col-xxl-6 col-sm-6">
                        <div class="card">
                            <app-graph-orders></app-graph-orders>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-6 col-sm-6">
                        <div class="card">
                            <app-graph-customers></app-graph-customers>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-12">
                        <div class="card">
                            <app-graph-menu></app-graph-menu>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card trending-menus">
                            <app-most-favorites-items></app-most-favorites-items>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
<!--                             <app-recent-order-request [data]="recentOrder"></app-recent-order-request>
 -->                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
