<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row center">
            <div class="col-xl-10">
                <div class="card bg-transparent shadow-none">
                    <div class="card-header flex-wrap border-0 p-0 justify-content-start">
                        <div class="table-tabs mr-2 mb-3 mr-auto ">
                            <ul class="nav nav-tabs" ngbNav #nav="ngbNav" role="tablist">
                                <li class="nav-item" ngbNavItem="AllStatus">
                                    <a class="nav-link"  data-toggle="tab" href="#AllStatus" aria-expanded="false" ngbNavLink (click)='setAll()'>
                                        Svi Zaposleni
                                    </a>
                                    <ng-template ngbNavContent>
                                        <div class="tab-pane fade active show" id="AllStatus">
                                            <div class="table-responsive rounded table-hover">
                                                <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable1">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th>#ID</th>
                                                            <th>Ime</th>
                                                            <th>Prezime</th>
                                                            <th>Mail</th>
                                                            <th>Plata</th>
                                                            <th>Detalji</th>
                                                            <th style="background-image:none;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="alert alert-dismissible border-0" *ngFor = "let e of employees">
                                                            <td>#{{e.id}}</td>
                                                            <td>{{e.firstName}}</td>
                                                            <td>{{e.lastName}}</td>
                                                            <td>{{e.email}}</td>
                                                            <td>{{e.salary}}</td>
                                                            <td>
                                                                <a class="btn btn-primary" href="javascript:void(0);" (click)="viewUserDetalies(e.id)">Detalji</a>
                                                            </td>
                                                            <!-- <td>
                                                                <div class="dropdown dropdown-no-icon" ngbDropdown>
                                                                    <a class="btn-link" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                                        <a class="dropdown-item text-info" href="javascript:void(0);">Accept Order</a>
                                                                        <a href="javascript:void(0);" data-dismiss="alert" aria-label="Close" class="dropdown-item">Reject Order</a>
                                                                    </div>
                                                                </div>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="display: flex; justify-content: center">
                                                    <div>
                                                        <app-pagination-modular [pageSize]="6" [collectionSize]="numberOfElements" (pageChanged)="changePage($event)"></app-pagination-modular>
                                                    </div>
                                                </div>      
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li class="nav-item" ngbNavItem="NewOrder">
                                    <a class="nav-link" data-toggle="tab" href="#NewOrder" aria-expanded="false" ngbNavLink (click)='setWaiters()'>
                                        Konobari	
                                    </a>
                                    <ng-template ngbNavContent>
                                        <div class="tab-pane" id="NewOrder">
                                            <div class="table-responsive rounded table-hover">
                                                <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable2">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th>#ID</th>
                                                            <th>Ime</th>
                                                            <th>Prezime</th>
                                                            <th>Mail</th>
                                                            <th>Plata</th>
                                                            <th>Detalji</th>
                                                            <th style="background-image:none;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="alert alert-dismissible border-0" *ngFor = "let e of employees">
                                                            <td>#{{e.id}}</td>
                                                            <td>{{e.firstName}}</td>
                                                            <td>{{e.lastName}}</td>
                                                            <td>{{e.email}}</td>
                                                            <td>{{e.salary}}</td>
                                                            <td>
                                                                <a class="btn btn-primary" href="javascript:void(0);" (click)="viewUserDetalies(e.id)">Detalji</a>
                                                            </td>
                                                           <!--  <td>
                                                                <div class="dropdown dropdown-no-icon" ngbDropdown>
                                                                    <a class="btn-link" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                                        <a class="dropdown-item text-info" href="javascript:void(0);">Accept Order</a>
                                                                        <a href="javascript:void(0);" data-dismiss="alert" aria-label="Close" class="dropdown-item">Reject Order</a>
                                                                    </div>
                                                                </div>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </ng-template>
                                </li>
                                <li class="nav-item" ngbNavItem="OnProgress">
                                    <a class="nav-link " data-toggle="tab" href="#OnProgress" aria-expanded="false" ngbNavLink (click)='setCooks()'>
                                        Kuvari
                                    </a>
                                    <ng-template ngbNavContent>
                                        
                                        <div class="tab-pane" id="OnProgress">
                                            <div class="table-responsive rounded table-hover">
                                                <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable3">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th>#ID</th>
                                                            <th>Ime</th>
                                                            <th>Prezime</th>
                                                            <th>Mail</th>
                                                            <th>Plata</th>
                                                            <th>Detalji</th>
                                                            <th style="background-image:none;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="alert alert-dismissible border-0" *ngFor = "let e of employees">
                                                            <td>#{{e.id}}</td>
                                                            <td>{{e.firstName}}</td>
                                                            <td>{{e.lastName}}</td>
                                                            <td>{{e.email}}</td>
                                                            <td>{{e.salary}}</td>
                                                            <td>
                                                                <a class="btn btn-primary" href="javascript:void(0);" (click)="viewUserDetalies(e.id)">Detalji</a>
                                                            </td>
<!--                                                             <td>
                                                                <div class="dropdown dropdown-no-icon" ngbDropdown>
                                                                    <a class="btn-link" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                                        <a class="dropdown-item text-info" href="javascript:void(0);">Accept Order</a>
                                                                        <a href="javascript:void(0);" data-dismiss="alert" aria-label="Close" class="dropdown-item">Reject Order</a>
                                                                    </div>
                                                                </div>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </ng-template>
                                </li>
                                <li class="nav-item" ngbNavItem="Delivered">
                                    <a class="nav-link" data-toggle="tab" href="#Delivered" aria-expanded="false" ngbNavLink (click)='setBartenders()'>
                                        Šankeri
                                    </a>
                                    <ng-template ngbNavContent>
                                        
                                        <div class="tab-pane" id="Delivered">
                                            <div class="table-responsive rounded table-hover">
                                                <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable4">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th>#ID</th>
                                                            <th>Ime</th>
                                                            <th>Prezime</th>
                                                            <th>Mail</th>
                                                            <th>Plata</th>
                                                            <th>Detalji</th>
                                                            <th style="background-image:none;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="alert alert-dismissible border-0" *ngFor = "let e of employees">
                                                            <td>#{{e.id}}</td>
                                                            <td>{{e.firstName}}</td>
                                                            <td>{{e.lastName}}</td>
                                                            <td>{{e.email}}</td>
                                                            <td>{{e.salary}}</td>
                                                            <td>
                                                                <a class="btn btn-primary" href="javascript:void(0);" (click)="viewUserDetalies(e.id)">Detalji</a>
                                                            </td>
<!--                                                             <td>
                                                                <div class="dropdown dropdown-no-icon" ngbDropdown>
                                                                    <a class="btn-link" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                                        <a class="dropdown-item text-info" href="javascript:void(0);">Accept Order</a>
                                                                        <a href="javascript:void(0);" data-dismiss="alert" aria-label="Close" class="dropdown-item">Reject Order</a>
                                                                    </div>
                                                                </div>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                    </ng-template>
                                </li>
                                <li class="nav-item" ngbNavItem="VanRadnogOdnosa">
                                    <a class="nav-link" data-toggle="tab" href="#VanRadnogOdnosa" aria-expanded="false" ngbNavLink (click)='setNotEmployed()'>
                                        Van Radnog Odnosa
                                    </a>
                                    <ng-template ngbNavContent>
                                        
                                        <div class="tab-pane" id="VanRadnogOdnosa">
                                            <div class="table-responsive rounded table-hover">
                                                <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable4">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th>#ID</th>
                                                            <th>Ime</th>
                                                            <th>Prezime</th>
                                                            <th>Mail</th>
                                                            <th>Plata</th>
                                                            <th>Detalji</th>
                                                            <th style="background-image:none;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="alert alert-dismissible border-0" *ngFor = "let e of employees">
                                                            <td>#{{e.id}}</td>
                                                            <td>{{e.firstName}}</td>
                                                            <td>{{e.lastName}}</td>
                                                            <td>{{e.email}}</td>
                                                            <td>{{e.salary}}</td>
                                                            <td>
                                                                <a class="btn btn-primary" href="javascript:void(0);" (click)="viewUserDetalies(e.id)">Detalji</a>
                                                            </td>
                                                           <!--  <td>
                                                                <div class="dropdown dropdown-no-icon" ngbDropdown>
                                                                    <a class="btn-link" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                                        <a class="dropdown-item text-info" href="javascript:void(0);">Accept Order</a>
                                                                        <a href="javascript:void(0);" data-dismiss="alert" aria-label="Close" class="dropdown-item">Reject Order</a>
                                                                    </div>
                                                                </div>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                    </ng-template>
                                </li>
                            </ul>
                        </div>

                        <ul _ngcontent-aho-c107="" class="navbar-nav header-right">
                            <li _ngcontent-aho-c107="" class="nav-item">
                                <div _ngcontent-aho-c107="" class="input-group search-area d-xl-inline-flex d-none">
                                    <input _ngcontent-aho-c107="" type="text" placeholder="Pretraga..." class="form-control" (change)="search($event)">
                                    <div _ngcontent-aho-c107="" class="input-group-append">
                                        <button _ngcontent-aho-c107="" class="input-group-text">
                                            <i _ngcontent-aho-c107="" class="flaticon-381-search-2"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    
                    <div [ngbNavOutlet]="nav" class=""></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
