<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row center">
            <div class="col-xl-10">
                <div class="card bg-transparent shadow-none">
                    <div class="card-header flex-wrap border-0 p-0 justify-content-start">
                        <div class="table-tabs mr-2 mb-3 mr-auto">
                            <ul class="nav nav-tabs" ngbNav #nav="ngbNav" role="tablist">
                                <li class="nav-item" ngbNavItem="AllStatus">
                                    <ng-template ngbNavContent>
                                        <div class="tab-pane fade active show" id="AllStatus">
                                            <div class="table-responsive rounded table-hover">
                                                <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable1">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Naziv</th>
                                                            <th>Cena Pripreme</th>
                                                            <th>Cena</th>
                                                            <th>Više</th>
                                                            <th style="background-image:none;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="alert alert-dismissible border-0" *ngFor = "let e of items">
                                                            <td>
                                                                <img *ngIf="e.picture"  class="rounded mr-3 food-img" width="125"  src={{e.picture}} alt="noImage">
                                                                <img *ngIf="!e.picture"  class="rounded mr-3 food-img" width="125"  src="../../../../assets/images/no-image.png" alt="noImage">
                                                            </td>
                                                            <td>{{e.name}}</td>
                                                            <td>{{e.preparationPrice}} rsd</td>
                                                            <td>{{e.price}} rsd</td>
                                                            <td><button class="btn btn-primary" (click)="changePrice(e.id, e.price)">Izmeni&nbsp;cenu</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="display: flex; justify-content: center">
                                                    <div>
                                                        <app-pagination-modular [pageSize]="4" [collectionSize]="numberOfElements" (pageChanged)="changePage($event)"></app-pagination-modular>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                            </ul>
                        </div>

                        <ul _ngcontent-aho-c107="" class="navbar-nav header-right">
                            <li _ngcontent-aho-c107="" class="nav-item">
                                <div _ngcontent-aho-c107="" class="input-group search-area d-xl-inline-flex d-none">
                                    <input _ngcontent-aho-c107="" type="text" placeholder="Pretraga..." class="form-control" (change)="search($event)">
                                    <div _ngcontent-aho-c107="" class="input-group-append">
                                        <button _ngcontent-aho-c107="" class="input-group-text">
                                            <i _ngcontent-aho-c107="" class="flaticon-381-search-2"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    
                    <div [ngbNavOutlet]="nav" class=""></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
