table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  th{
    background-color: #FF720D;
    font-weight: 900;
  }

  #managerEmployeeFilter{
    max-width: 300px;
  }


  .thumbnailSlicica{
    max-width: 8rem;
    margin: 0.2rem;
  }
  
  img {
    object-fit: cover;
    aspect-ratio: 1/1;
  }

.center{
  display: flex;
  justify-content: center;
}