<div *ngIf="show">
    <div class="card-header border-0 pb-0">
        <div class="separator"></div>
        <div class="mr-auto">
            <h4 class="card-title mb-2">Današnji prihod</h4>
            <p class="fs-14 mb-0">Današnji prihod u odnosu na mesečni prosek</p>
        </div>
    </div>
    <div class="card-body  text-center">
        
        <div id="radialChart">
                <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [plotOptions]="chartOptions.plotOptions"
            [labels]="chartOptions.labels"
            [fill]="chartOptions.fill"
            [stroke]="chartOptions.stroke"
          ></apx-chart>
            
        </div>
        
        
        <h3 class="fs-28 text-black font-w500 mr-top">rsd. {{danasnjiPrihod}}</h3>
        <span class="mb-3 d-block">rsd. {{mesecniProsek}}</span>
        <p class="fs-16">Za analitiku i više informacija o prihodima vidi izveštaje o prihodima</p>
        <a [routerLink]="['/restaurant/manager/incomeReports']" class="btn btn-outline-primary">Vidi Izveštaj</a>
    </div>
</div>

