<div class="content-body">
    <div class="container-fluid">
        <h2>Forma za kreiranje novog pića</h2>

        <div class="modal-body">
            <form class="row" [formGroup]="form" (ngSubmit)="submit()">

                <div class="col">
                    <div class="form-group">
                        <label class="text-black font-w500">Ime</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500">Slika artikla</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" ccept="image/png, image/jpeg, image/jpg" (change)='readFile($event.target)' formControlName="picture">
                            <label class="custom-file-label">Slika</label>
                    
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500">Sastojci</label>
                        <div style="width:100%;">
                            <app-autocomplete-multiple-select (ingredientListChanged)="getSelectedIngredients($event)"
                                [placeHolder]="this.placeHolder" [inputPlaceHolder]="this.inputPlaceHolder"
                                [allElements]="this.ingredients"> </app-autocomplete-multiple-select>
                        </div>
                    </div>
                    <span class="d-flex flex-wrap mb-3 mr-1">
                        <a class="btn btn-outline-primary  mr-auto mb-2 float-left"
                            (click)="showModalForCreatingIngredient()">Kreiraj novi sastojak</a>
                    </span>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="text-black font-w500">Opis</label>
                        <input type="text" class="form-control" formControlName="description">
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500">Nabavna cena</label>
                        <input type="number" min="0" class="form-control" formControlName="prepratationPrice" min=0>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheckBox1"  formControlName="alcohol">
                        <label class="custom-control-label" for="customCheckBox1">Alkohol</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sačuvaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>