<div class="content-body">
	<div class="container-fluid">
		<div class="d-flex flex-wrap mb-1 justify-content-between">	
            <div>
				<a id="create_new_food_button" routerLink="/restaurant/food/form/create" class="btn btn-outline-primary  mr-auto mb-2 float-left">Dodaj novu hranu</a>
			</div>
			<div class="nav-item">
				<div class="input-group search-area d-xl-inline-flex d-none my-search">
					<input type="text" id="search_input" class="form-control" placeholder="Pretrazi..." (change)="search($event)">
					<div class="input-group-append">
						<button class="input-group-text" id="submit_search"><i class="flaticon-381-search-2"></i></button>
					</div>
				</div>
			</div>
			
			<mat-form-field appearance="fill">
				<mat-label>Grupa hrane</mat-label>
				<mat-select id="food_group_filter" (selectionChange)="selectedCategory($event.value)">
				<mat-option>None</mat-option>
				<mat-option *ngFor="let group of foodGroups" class="food_group_option" [value]="group.groupEnumValue">{{group.groupName}}</mat-option>
				</mat-select>
			</mat-form-field>
			
        </div>

		<div class="row">	
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" *ngFor="let food of foodList">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							
							<div class="new-arrivals-img-contnent">
								<a routerLink="/restaurant/food/{{food.id}}">
                                    <img class="img-fluid" src="http://localhost:8080{{food.picture}}" alt="Image not available." height="150px">
                                </a>
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a class="food_title" routerLink="/restaurant/food/{{food.id}}">{{food.name}}</a></h4>
								<span name="food_group" *ngIf="food.foodGroup === 'GLAVNO JELO'" class="badge badge-info light mr-1">{{food.foodGroup}}</span>
                                <span name="food_group" *ngIf="food.foodGroup === 'SALATA'" class="badge badge-success light mr-1">{{food.foodGroup}}</span>							
                                <span name="food_group" *ngIf="food.foodGroup === 'PREDJELO'" class="badge badge-primary light mr-1">{{food.foodGroup}}</span>								
                                <span name="food_group" *ngIf="food.foodGroup === 'DESERT'" class="badge badge-danger light mr-1">{{food.foodGroup}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<h1 *ngIf="numberOfElements === 0" id="no_search_result_header" style="padding:50px; text-align: center; margin:0 auto;">Nema rezultata za date kritrijume pretrage.</h1>
		</div>

		<div style="display: flex; justify-content: center">
			<div>	
				<app-pagination [collectionSize] = "numberOfElements" (pageChanged)="changePage($event)"></app-pagination>
			</div>
		</div>

	</div>
</div>