<div class="card-header border-0 pb-0 flex-wrap">
    <div class="d-flex mb-3">
        <div class="separator"></div>
        <div class="mr-auto">	
            <h4 class="card-title mb-1">Trending Artikli</h4>
            <p class="fs-15 mb-0">Najčešće naručivani artikli u protekloj nedelji</p>
        </div>	
    </div>
    <div class="card-action card-tabs mb-3">
        <ul class="nav nav-tabs" role="tablist" ngbNav #nav="ngbNav" >

            <li class="nav-item" ngbNavItem="all-categories">
                <a class="nav-link" data-toggle="tab" href="#all-categories" ngbNavLink>
                    Svi Artikli
                </a>
                <ng-template ngbNavContent>
                    
                    <div class="tab-pane" id="all-categories">
                        <app-food-items [data]="topArticles"></app-food-items>
                    </div>
                    
                    
                    
                </ng-template>
            </li>											
        </ul>
    </div>
</div>



<div class="card-body most-favourite-items pb-0">
<div [ngbNavOutlet]="nav" class=""></div>
</div>
