<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="bg-primary">
        <th class="text-black font-w500 fs-20">Stavke</th>
        <th class="text-black font-w500 fs-20" style="width: 10%">Kolicina</th>
        <th class="text-black font-w500 fs-20" style="width: 10%">Cena</th>
        <th
          class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell"
        >
          Ukupno
        </th>
        <th class="text-black font-w500 fs-20" style="width: 10%">Status</th>
      </tr>
      <app-checkout-list-item
        *ngFor="let item of checkout?.checkoutArticles"
        [checkoutItem]="item"
      ></app-checkout-list-item>
    </tbody>
  </table>
</div>
