.center{
    display: flex;
    justify-content: center;
}

#reportContainer {
    background-color: rgb(255, 255, 255, 0.97);
    padding: 1rem;
  }
  
  a {
    cursor: pointer;
  }
  
  .box{
    width: max-content;
  }