<mat-form-field class="example-chip-list">
    <mat-label>{{this.placeHolder}}</mat-label>
    <mat-chip-list #chipList aria-label="Element selection">
        <mat-chip
        *ngFor="let element of elements"
        [selectable]="selectable"
        [removable]="removable"
        [value]="element"
        (removed)="remove(element)">
        {{element.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
        placeholder="{{this.inputPlaceHolder}}"
        #formInput
        [formControl]="formControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let element of filteredElements | async" [value]="element.name">
            {{element.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
