<div class="content-body">
    <div class="container-fluid">
           <h2>Forma za kreiranje novog jela</h2>

<div class="modal-body">
    <form class="row" [formGroup]="form" (ngSubmit)="submit()">

        <div class="col">
            <div class="form-group">
                <label class="text-black font-w500">Ime</label>
                <input id="food_name" type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Slika artikla</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" ccept="image/png, image/jpeg, image/jpg" (change)='readFile($event.target)' formControlName="picture">
                    <label class="custom-file-label">Slika</label>
                </div>
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Grupa jela</label>
                <select id="food_group_selector" class="form-control default-select" formControlName="selectedFoodGroup" required>
                        <option *ngFor="let group of foodGroups" [value]="group.groupEnumValue">{{group.groupName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Sastojci</label>
                <div id="ingredient_input" style="width:100%;">
                    <app-autocomplete-multiple-select (ingredientListChanged)="getSelectedIngredients($event)" [placeHolder]="this.placeHolder" [inputPlaceHolder]="this.inputPlaceHolder" [allElements]="this.ingredients"> </app-autocomplete-multiple-select>
                </div>
            </div>
            <span class="d-flex flex-wrap mb-3 mr-1">
                <a id="create_new_ingredient_link" class="btn btn-outline-primary  mr-auto mb-2 float-left" (click)="showModalForCreatingIngredient()">Kreiraj novi sastojak</a>
            </span>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="text-black font-w500">Opis</label>
                <input id="food_description" type="text" class="form-control" formControlName="description">
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Cena pripreme</label>
                <input id="food_price" type="number" min="0" class="form-control" formControlName="prepratationPrice" min=0>
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Vreme pripreme</label>
                <input id="food_preparation_time" type="number" class="form-control" formControlName="preparationTime" min=0>
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Kategorija jela</label>
                <select id="food_category_selector" class="form-control default-select" formControlName="selectedFoodCategory">
                    <option *ngFor="let category of getFoodCategoryNames()" [value]="category" required>{{category}}</option>
                </select>
            </div>
            <span class="d-flex flex-wrap mb-3 mr-1">
                <a id="create_new_food_category_link" class="btn btn-outline-primary  mr-auto mb-2 float-left" (click)="showModalForCreatingFoodCategory()">Kreiraj novu kategoriju</a>
            </span>
            <div class="form-group">
                <button id="save_food" type="submit" class="btn btn-primary">Sacuvaj</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>