<mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Izmena Cene</h4>
        <button type="button" class="close" aria-label="Close" (click)="matDialogRef.close(null)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="form" (ngSubmit)="submit()">

            <div class="col">
                <div class="form-group">
                    <label class="text-black font-w500">Cena</label>
                    <input type="number" placeholder={{oldPrice}} class="form-control" formControlName="novaCena">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sacuvaj</button>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>