<div class="deznav">
  <div *ngIf="sharedService.checkRole() === 'ADMIN'" class="deznav-scroll">
    <ul class="metismenu" id="menu" metis-menu>
      <li>
        <a
          class="ai-icon"
          href="/restaurant/floor-plan/edit"
          aria-expanded="false"
        >
          <i class="flaticon-025-dashboard"></i>
          <span class="nav-text">Stolovi</span>
        </a>
      </li>
      <li>
        <a class="ai-icon" href="/restaurant/users" aria-expanded="false">
          <i class="flaticon-381-user-4"></i>
          <span class="nav-text">Korisnici</span>
        </a>
      </li>
      <li>
        <a class="ai-icon" (click)="logout()" aria-expanded="false">
          <i class="flaticon-381-exit"></i>
          <span class="nav-text">Odjava</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- MANAGER----------------------------------------------------------------------------------------------------------------------------------- -->
  <div *ngIf="sharedService.checkRole() === 'MANAGER'" class="deznav-scroll">
    <ul class="metismenu" id="menu" metis-menu>
      <li>
        <a class="ai-icon" href="/restaurant/manager" aria-expanded="false">
          <i class="flaticon-381-home-2"></i>
          <span class="nav-text">Početna</span>
        </a>
      </li>
      <li>
        <a
          class="ai-icon"
          href="/restaurant/manager/pricelist"
          aria-expanded="false"
        >
          <i class="flaticon-381-menu"></i>
          <span class="nav-text">Cenovnik</span>
        </a>
      </li>
      <li>
        <a
          class="ai-icon"
          href="/restaurant/manager/requests"
          aria-expanded="false"
        >
          <i class="flaticon-381-idea"></i>
          <span class="nav-text">Zahtevi</span>
        </a>
      </li>
      <li>
        <a
          class="ai-icon"
          href="/restaurant/manager/employees"
          aria-expanded="false"
        >
          <i class="flaticon-381-user-9"></i>
          <span class="nav-text">Zaposleni</span>
        </a>
      </li>
      <li class="pointer">
        <a
          class="ai-icon"
          (click)="toggleIzvestaj($event)"
          aria-expanded="false"
        >
          <i class="flaticon-381-folder"></i>
          <span class="nav-text">Izveštaji</span>
        </a>
        <nav id="reportsNav">
          <ul>
            <li>
              <a
                class="ai-icon"
                href="/restaurant/manager/incomeReports"
                aria-expanded="false"
              >
                <i class="flaticon-381-file"></i>
                <span class="nav-text">Finansije</span>
              </a>
            </li>
            <li>
              <a
                class="ai-icon"
                href="/restaurant/manager/employeeReports"
                aria-expanded="false"
              >
                <i class="flaticon-381-id-card-1"></i>
                <span class="nav-text">Radnici</span>
              </a>
            </li>
            <li>
              <a
                class="ai-icon"
                href="/restaurant/manager/articleReports"
                aria-expanded="false"
              >
                <i class="flaticon-381-list"></i>
                <span class="nav-text">Promet</span>
              </a>
            </li>
          </ul>
        </nav>
      </li>
      <li>
        <a class="ai-icon" (click)="logout()" aria-expanded="false">
          <i class="flaticon-381-exit"></i>
          <span class="nav-text">Odjava</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- OWNER----------------------------------------------------------------------------------------------------------------------------------- -->
  <div *ngIf="sharedService.checkRole() === 'OWNER'" class="deznav-scroll">
    <ul class="metismenu" id="menu" metis-menu>
      <li>
        <a class="ai-icon" href="/restaurant/manager" aria-expanded="false">
          <i class="flaticon-381-home-2"></i>
          <span class="nav-text">Početna</span>
        </a>
      </li>

      <li class="pointer">
        <a
          class="ai-icon"
          (click)="toggleIzvestaj($event)"
          aria-expanded="false"
        >
        <i class="flaticon-381-folder"></i>
        <span class="nav-text">Izveštaji</span>
        </a>
        <nav id="reportsNav">
          <ul>
            <li>
              <a
                class="ai-icon"
                href="/restaurant/manager/incomeReports"
                aria-expanded="false"
              >
              <i class="flaticon-381-file"></i>
              <span class="nav-text">Finansije</span>
              </a>
            </li>
            <li>
              <a
                class="ai-icon"
                href="/restaurant/manager/employeeReports"
                aria-expanded="false"
              >
              <i class="flaticon-381-id-card-1"></i>
              <span class="nav-text">Radnici</span>
              </a>
            </li>
            <li>
              <a
                class="ai-icon"
                href="/restaurant/manager/articleReports"
                aria-expanded="false"
              >
              <i class="flaticon-381-list"></i>
              <span class="nav-text">Promet</span>
              </a>
            </li>
          </ul>
        </nav>
      </li>
      <li>
        <a class="ai-icon" (click)="logout()" aria-expanded="false">
          <i class="flaticon-381-exit"></i>
          <span class="nav-text">Odjava</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- SANKER------------------------------------------------------------------------------------------------------------------------------------ -->
  <div *ngIf="sharedService.checkType() === 'BARTENDER'" class="deznav-scroll">
    <ul class="metismenu" id="menu" metis-menu>
      <li>
        <a class="ai-icon" href="/restaurant/drinks" aria-expanded="false">
          <i class="flaticon-381-menu-1"></i>
          <span class="nav-text">Pića</span>
        </a>
      </li>
      <li>
        <a class="ai-icon" href="/restaurant/orders" aria-expanded="false">
          <i class="flaticon-381-menu-2"></i>
          <span class="nav-text">Porudzbine</span>
        </a>
      </li>
      <li>
        <a
          class="ai-icon"
          (click)="employeeLogout()"
          href="#"
          aria-expanded="false"
        >
          <i class="flaticon-381-exit-2"></i>
          <span class="nav-text">Odjava</span>
        </a>
      </li>
      <li *ngIf="sharedService.isActivated()">
        <a
          class="ai-icon"
          href=""
          (click)="deactivate()"
          href="#"
          aria-expanded="false"
        >
          <i class="flaticon-381-exit"></i>
          <span class="nav-text">Deaktivacija</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- KUVAR------------------------------------------------------------------------------------------------------------------------------------ -->
  <div *ngIf="sharedService.checkType() === 'COOK'" class="deznav-scroll">
    <ul class="metismenu" id="menu" metis-menu>
      <li>
        <a class="ai-icon" href="/restaurant/food" aria-expanded="false">
          <i class="flaticon-381-menu-1"></i>
          <span class="nav-text">Hrana</span>
        </a>
      </li>
      <li>
        <a class="ai-icon" href="/restaurant/orders" aria-expanded="false">
          <i class="flaticon-381-menu-2"></i>
          <span class="nav-text">Porudzbine</span>
        </a>
      </li>
      <li>
        <a
          class="ai-icon"
          (click)="employeeLogout()"
          href="#"
          aria-expanded="false"
        >
          <i class="flaticon-381-exit-2"></i>
          <span class="nav-text">Odjava</span>
        </a>
      </li>
      <li *ngIf="sharedService.isActivated()">
        <a
          class="ai-icon"
          href=""
          (click)="deactivate()"
          href="#"
          aria-expanded="false"
        >
          <i class="flaticon-381-exit"></i>
          <span class="nav-text">Deaktivacija</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- OSTALO------------------------------------------------------------------------------------------------------------------------------------ -->
  <div *ngIf="sharedService.checkRole() === ''" class="deznav-scroll">
    <ul class="metismenu" id="menu" metis-menu>
      <li>
        <a class="ai-icon" href="/restaurant/auth/login" aria-expanded="false">
          <i class="flaticon-005-back-arrow"></i>
          <span class="nav-text">Prijava</span>
        </a>
      </li>
      <li *ngIf="!sharedService.isActivated()">
        <a
          class="ai-icon"
          href="/restaurant/auth/activate"
          aria-expanded="false"
        >
          <i class="flaticon-008-check"></i>
          <span class="nav-text">Aktivacija</span>
        </a>
      </li>
      <li *ngIf="sharedService.isActivated()">
        <a class="ai-icon" href="" (click)="deactivate()" aria-expanded="false">
          <i class="flaticon-381-exit"></i>
          <span class="nav-text">Deaktivacija</span>
        </a>
      </li>
    </ul>
  </div>
</div>
