<div class="content-body">
    <div class="container-fluid">
        <div class="d-flex flex-wrap mb-1 justify-content-between">
            <div>
                <a *ngIf="isMain()" href="/restaurant/drinks/form" data-toggle="modal"
                    class="btn btn-outline-primary  mr-2 mb-2 float-left">Dodaj piće</a>
            
            
                <a href="javascript:void(0);" data-toggle="modal" (click)="openAddIngredientDialog()"
                    class="btn btn-outline-primary  mr-auto mb-2 float-left">Dodaj sastojak</a>             
            </div>
            <div class="nav-item">
                <div class="input-group search-area d-xl-inline-flex d-none my-search">
                    <input type="text" class="form-control" placeholder="Pretrazi..." (change)="search($event)">
                    <div class="input-group-append">
                        <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                    </div>
                </div>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Tip pića</mat-label>
                <mat-select (selectionChange)="selectedCategory($event.value)">
                    <mat-option>Sva pića</mat-option>
                    <mat-option [value]="true">Alkoholna pića</mat-option>
                    <mat-option [value]="false">Bezalkoholna pića</mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" *ngFor="let drink of drinks">
                <div class="card">
                    <div class="card-body">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a routerLink="/restaurant/drinks/{{drink.id}}">
                                    <img class="img-fluid" src="http://localhost:8080{{drink.picture}}" alt="" height="150px">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4><a routerLink="/restaurant/drinks/{{drink.id}}">{{drink.name}}</a></h4>
                                <span *ngIf='drink.alcohol' class="badge badge-danger light mr-1">Alkoholno</span>
                                <span *ngIf='!drink.alcohol' class="badge badge-success light mr-1">Bezalkoholno</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center">
            <div>
                <app-pagination [collectionSize]="numberOfElements" (pageChanged)="changePage($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>