<div
  class="wrapper"
  class="round"
  [ngClass]="{
    free: this.table.status === 'FREE',
    occupied: this.table.status === 'OCCUPIED',
    unavailable: this.table.status === 'UNAVAILABLE',
    paid: this.table.status === 'PAID'
  }"
>
  <app-positioned-element
    [table]="table"
    [style.transform]="'rotate(' + table.rotation + 'deg)'"
  ></app-positioned-element>
  <div class="text">
    {{ !!table ? table.tableNumber : "" }}
  </div>
</div>
