:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.text {
  position: absolute;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  background-color: white;
  border: 1px solid slategray;
  border-radius: 5px;
  top: 0px;
  left: 0px;
}

.round {
  border-radius: 2px;
}

.free {
  border: 4px solid lightgreen;
}

.occupied {
  border: 4px solid orange;
}

.paid {
  border: 4px dashed orange;
}

.unavailable {
  border: 4px solid dimgrey;
  opacity: 33%;
}
