<div class="pagination-responsive">
    <ngb-pagination (pageChange)="onPageChange($event)" [pageSize]="pageSize" [collectionSize]="collectionSize"
        [(page)]="currentPage" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>