<mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Unos pina</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <input type="password" class="form-control" formControlName="pin">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Potvrdi</button>
            </div>
        </form>
    </div>
</mat-dialog-content>