<mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Dodavanje korisnika</h4>
        <button type="button" class="close" aria-label="Close" (click)="matDialogRef.close(null)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="row"  [formGroup]="form" (ngSubmit)="submit()">
            
            <div class="col">
                <div class="form-group">
                    <label class="text-black font-w500">Ime</label>
                    <input type="text" class="form-control" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label class="text-black font-w500">Prezime</label>
                    <input type="text" class="form-control" formControlName="lastName">
                </div>
                <div class="form-group">
                    <label class="text-black font-w500">Email</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <label class="text-black font-w500">Tip korisnika</label>
                    <select class="form-control form-control-lg default-select " formControlName="administrativeUserType">
                        <option value="ADMIN" selected>Administrator</option>
                        <option value="MANAGER">Menadžer</option>
                        <option value="OWNER">Vlasnik</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="text-black font-w500">Korisničko ime</label>
                    <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="form-group">
                    <label class="text-black font-w500">Šifra</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sačuvaj</button>
                </div>
            </div>
            <!-- <div *ngIf='!isAdministrative()' class="col">
                <div class="form-group">
                    <label class="text-black font-w500">Kontakt telefon</label>
                    <input type="text" class="form-control" formControlName="contactPhone">
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheckBox1" required>
                    <label class="custom-control-label" for="customCheckBox1" formControlName="main">Glavni</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sačuvaj</button>
                </div>
            </div> -->
        </form>
    </div>
</mat-dialog-content>