<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="card p-2">
                    <div>
                        <div class="card-title"><h1>Nove</h1></div>
                    
                        <div cdkDropList id="PENDING" #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inProgressList]"
                            class="my-example-list" (cdkDropListDropped)="dropGroup($event)">
                            <div *ngFor="let item of todo" >
                                <div *ngIf="isGroup(item)" cdkDropList #item.title="cdkDropList" [cdkDropListData]="item.orderArticles"
                                    [cdkDropListConnectedTo]="[inProgressList]" class="example-list" (cdkDropListDropped)="drop($event)"
                                    cdkDrag>
                                    <mat-expansion-panel class="pending">
                                        <mat-expansion-panel-header (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()">
                                            <div class="mb-2">Poručeno u {{toTime(item.startTime)}}</div>
                                        </mat-expansion-panel-header>
                                        <div class="mb-2">Porudžbina {{item.id}}</div>
                                        <span class="badge badge-warning light mr-1 mb-2">{{item.note}}</span>
                                        <div class="example-box" *ngFor="let i of item.orderArticles" cdkDrag>
                                            <span class="fd-block"><strong>{{i.quantity}}</strong> {{i.name}}</span>
                                            <span *ngIf="i.orderArticleStatus == 'PENDING'" class="badge badge-danger light mr-1 mb-2">{{i.orderArticleStatus}}</span>
                                            <span *ngIf="i.orderArticleStatus == 'IN_PROGRESS'" class="badge badge-danger light mr-1 mb-2">{{i.orderArticleStatus}}</span>
                                            <span *ngIf="i.orderArticleStatus == 'READY'" class="badge badge-success light mr-1 mb-2">{{i.orderArticleStatus}}</span>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                                <div *ngIf="!isGroup(item)" cdkDropList class="example-box" [cdkDropListData]="item"
                                    [cdkDropListConnectedTo]="[item.parent]" (cdkDropListDropped)="drop($event)"
                                    cdkDrag><span class="fd-block"><strong>{{item.quantity}}</strong> {{item.name}}</span>
                                    <span class="badge badge-success light mr-1 mb-2">{{item.orderArticleStatus}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="card p-2">
                    <div>
                        <div class="card-title">
                            <h1>Preuzete</h1>
                        </div>
                    
                        <div cdkDropList id="IN_PROGRESS" #inProgressList="cdkDropList" [cdkDropListData]="inProgress" class="my-example-list"
                            [cdkDropListConnectedTo]="[todoList, doneList]"  (cdkDropListDropped)="dropGroup($event)">
                            <div *ngFor="let item of inProgress">
                                <div *ngIf="isGroup(item)" cdkDropList class="example-box" #item.title="cdkDropList" [cdkDropListData]="item.orderArticles"
                                    [cdkDropListConnectedTo]="[todoList, doneList]" class="example-list" (cdkDropListDropped)="drop($event)"
                                    cdkDrag>
                                <mat-expansion-panel class="in-progress">
                                    <mat-expansion-panel-header (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()">
                                        <div class="mb-2">Poručeno u {{toTime(item.startTime)}}</div>
                                    </mat-expansion-panel-header>
                                    <div class="mb-2">Porudžbina {{item.id}}</div>
                                    <span class="badge badge-warning light mr-1 mb-2">{{item.note}}</span>
                                    <div class="example-box" *ngFor="let i of item.orderArticles" cdkDrag>
                                        <span class="fd-block"><strong>{{i.quantity}}</strong> {{i.name}}</span>
                                        <span class="badge badge-success light mr-1 mb-2">{{i.orderArticleStatus}}</span>
                                    </div>
                                </mat-expansion-panel>
                                </div>
                                <div *ngIf="!isGroup(item)" cdkDropList class="example-box" [cdkDropListData]="item"
                                    [cdkDropListConnectedTo]="[item.parent]" (cdkDropListDropped)="drop($event)" cdkDrag>
                                    <span class="fd-block"><strong>{{item.quantity}}</strong> {{item.name}}</span>
                                    <span class="badge badge-success light mr-1 mb-2">{{item.orderArticleStatus}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="card p-2">
                    <div>
                    <div class="card-title">
                        <h1>Spremne</h1>
                    </div>
                    
                        <div cdkDropList id="READY" #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[inProgressList]"
                            class="my-example-list" (cdkDropListDropped)="dropGroup($event)">
                            <div *ngFor="let item of done">
                                <div *ngIf="isGroup(item)" cdkDropList class="example-box"  #item.title="cdkDropList" [cdkDropListData]="item.orderArticles"
                                    [cdkDropListConnectedTo]="[inProgressList]" class="example-list" (cdkDropListDropped)="drop($event)"
                                    cdkDrag>

                                <mat-expansion-panel class="ready">
                                    <mat-expansion-panel-header (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()">
                                        <div class="mb-2">Poručeno u {{toTime(item.startTime)}}</div>
                                    </mat-expansion-panel-header>
                                    <div class="mb-2">Porudžbina {{item.id}}</div>
                                    <span class="badge badge-warning light mr-1 mb-2">{{item.note}}</span>
                                    <div class="example-box" *ngFor="let i of item.orderArticles" cdkDrag>
                                        <span class="fd-block"><strong>{{i.quantity}}</strong> {{i.name}}</span>
                                        <span class="badge badge-success light mr-1 mb-2">{{i.orderArticleStatus}}</span>
                                    </div>
                                </mat-expansion-panel>
                                </div>
                                <div *ngIf="!isGroup(item)" class="d-flex justify-content-between example-box" cdkDrag>
                                    <span class="fd-block"><strong>{{item.quantity}}</strong> {{item.name}}</span>        
                                    <span class="badge badge-success light mr-1 mb-2">{{item.orderArticleStatus}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>