<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row center">
            <div class="col-xl-12">
                <h1>Izveštaj o Zaposlenima</h1>
                <div class="box">
                    <div class="card-tabs mb-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a *ngIf="number !== false" class="nav-link active" data-toggle="tab" role="tab" aria-selected="true" (click)="getNumber()">
                                    Trenutni broj zaposlenih
                                </a>
                                <a *ngIf="number == false" class="nav-link" data-toggle="tab" role="tab" aria-selected="false" (click)="getNumber()">
                                    Trenutni broj zaposlenih
                                </a>
                            </li>
                            <li class="nav-item">
                                <a *ngIf="number == false" class="nav-link active" data-toggle="tab" role="tab" aria-selected="false" (click)="getSalaries()">
                                    Plate
                                </a>
                                <a *ngIf="number !== false" class="nav-link" data-toggle="tab" role="tab" aria-selected="false" (click)="getSalaries()">
                                    Plate
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="row center card" id="reportContainer">
                    <div class="col-lg">
                        <div *ngIf="number && numberOfEmployees" class="chartBox">
                            <app-bar-chart [data]="numberOfEmployees"></app-bar-chart>
                        </div>
                        <div *ngIf="!number && salaries" class="chartBox">
                            <app-bar-chart [data]="salaries"></app-bar-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>