<div class="content-body ">
    <div class="container-fluid">
        <div class="row center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4  col-md-4 col-xxl-4 col-sm-12 d-flex justify-content-center align-items-center pl-1">
                                <img src="../../../../assets/images/profile/my-profile.png" height="300px"/>
                            </div>
                            <div class="col-xl-8 col-lg-8  col-md-8 col-xxl-8 col-sm-12">
                                <div class="product-detail-content">
                                    <div class="new-arrival-content pr">
                                        <h1>Moj profil</h1>

                                        <div class="row ">
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-xl-6 col-lg-6  col-md-6 col-xxl-6 col-sm-6 mb-3">
                                                                        <label for="firstName">Ime</label>
                                                                        <h2>{{user.firstName}}</h2>
                                                                    </div>
                                                                    <div class="col-xl-6 col-lg-6  col-md-6 col-xxl-6 col-sm-6 mb-3">
                                                                        <label for="lastName">Prezime</label>
                                                                        <h2>{{user.lastName}}</h2>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-6 col-lg-6  col-md-6 col-xxl-6 col-sm-6 mb-3">
                                                                        <label for="username">Korisničko Ime</label>
                                                                        <h2>{{user.username}}</h2>
                                                                    </div>
                                                                    <div class="col-xl-6 col-lg-6  col-md-6 col-xxl-6 col-sm-6 mb-3">
                                                                        <label for="username">Tip korisnika</label>
                                                                        <h2>{{convertType()}}</h2>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="email">Email <span
                                                                            class="text-muted"></span></label>
                                                                    <h2>{{user.email}}</h2>
                                                                
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="address2">Plata<span
                                                                            class="text-muted"></span></label>
                                                                    <h2>{{user.salary}} din</h2>
                            
                                                                </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>