<div id="main-wrapper" [ngClass]="{'menu-toggle': sharedService.hamburgerClass, '': !sharedService.hamburgerClass}"
    class="show">

    <app-nav-header></app-nav-header>
    <app-header *ngIf="showHeader()"></app-header>
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
</div>