// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

// :host {
//   font-family: "Poppins", sans-serif;
// }

// mat-drawer {
//   width: 20rem;
//   background-color: rgb(43, 38, 35);
//   position: flex;
//   border-right: 2px solid #fc730b;
// }

// mat-drawer-container {
//   position: absolute;
//   right: 0px;
//   left: 0px;
//   bottom: 0px;
//   top: 0px;
//   background-color: rgb(13, 8, 2);
// }

// .sidenav-button {
//   position: absolute;
//   top: 20px;
//   left: 1rem;
// }

// .info {
//   position: absolute;
//   vertical-align: bottom;
//   bottom: 0;
//   color: white;
//   text-align: center;
//   width: 100%;
// }
