<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Pregled artikla</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="first">
                                        <a routerLink="/restaurant/drinks/{{foodInfo.id}}">
                                            <img class="img-fluid" src="http://localhost:8080{{foodInfo.picture}}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-4  col-md-4 col-xxl-5 col-sm-12">
                                <div class="product-detail-content">
                                    <!--Product details-->
                                    <div class="new-arrival-content pr">    
                                        <h2>{{foodInfo.name}}</h2>
                                        
                                        <hr>
                                        <span *ngIf="foodInfo.foodGroup.groupName === 'GLAVNO JELO'"
                                            class="badge badge-info light mr-1 mb-2">{{foodInfo.foodGroup.groupName}}</span>
                                        <span *ngIf="foodInfo.foodGroup.groupName === 'SALATA'"
                                            class="badge badge-success light mr-1 mb-2">{{foodInfo.foodGroup.groupName}}</span>
                                        <span *ngIf="foodInfo.foodGroup.groupName === 'PREDJELO'"
                                            class="badge badge-primary light mr-1 mb-2">{{foodInfo.foodGroup.groupName}}</span>
                                        <span *ngIf="foodInfo.foodGroup.groupName === 'DESERT'"
                                            class="badge badge-danger light mr-1 mb-2">{{foodInfo.foodGroup.groupName}}</span>
                            
                                        <div class="d-table mb-2">
                                            <p class="price float-left d-block"><b>Cena: </b>{{foodInfo.price}} RSD</p>
                                        </div>
                                        <div class="d-table mb-2">
                                            <p class="float-right d-block">Cena pripreme: {{foodInfo.preparationPrice}} RSD</p>
                                        </div>
                                        <h4>Sastojci:&nbsp;&nbsp;</h4>
                                            <p *ngFor="let ingredient of foodInfo.ingredients">
                                                {{ingredient.name}} <span *ngFor="let allergen of ingredient.allergens"  class="badge badge-success light ml-3">{{allergen}}</span>
                                            </p>
                                        
                                        <p class="text-content">Opis: {{foodInfo.description}}</p>
                                        <div id="button_container" class="tab-content">
                                            <a id="edit_link" class="btn btn-primary mr-1 mb-1" (click)="updateFood()">Izmeni</a>
                                            <a id="delete_link" class="btn btn-primary mb-1" (click)="deleteFood()">Obrisi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>