<!--**********************************
	Content body start
***********************************-->
<div class="content-body ">
	<div class="container-fluid">
		<div class="row center">
			<div class="col-lg-10">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade show active" id="first">
                                        <div class="imgbackgr">
                                            <img class="img-fluid" src="{{imageSrc}}" alt="">
                                        </div>
										
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
								<div class="product-detail-content">
									<div class="new-arrival-content pr">
										<h1>Informacije o zaposlenom</h1>
										<div class="d-table mb-2">
											<p class="price float-left d-block">{{user.userType}}</p>
                                        </div>

<!-- FORMA -------------------------------------------------------------------------- -->

                                            <div class="row ">
                                                <div class="col-xl-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                    <form class="needs-validation mgDesno" novalidate="">
                                                                        <div class="row">
                                                                            <div class="col-md-6 mb-3">
                                                                                <label for="firstName">Ime</label>
                                                                                <input type="text" class="form-control" id="firstName" placeholder="Ime" #UserIme value="{{user.firstName}}"  required="true" (change)='changeName(UserIme.value)' >
                                                                                <div *ngIf="uslovIme" class="invalid-feedback  d-block">
                                                                                    Polje Ime ne sme ostati prazno.
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6 mb-3">
                                                                                <label for="lastName">Prezime</label>
                                                                                <input type="text" class="form-control" id="lastName" placeholder="Prezime" #UserPrz value="{{user.lastName}}" required="true" (change)='changeSurname(UserPrz.value)'>
                                                                                <div *ngIf="uslovPrz" class="invalid-feedback  d-block">
                                                                                    Polje Prezime ne sme ostati prazno.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                             
                                                                        <div class="mb-3">
                                                                            <label for="email">Pin <span
                                                                            class="text-muted"></span></label>
                                                                            <input type="text" class="form-control" id="pin" placeholder="npr. 0001" value="{{user.pin}}" #pin (change)='changePin(pin.value)'>
                                                                            <div *ngIf="uslovPin" class="invalid-feedback d-block">
                                                                                Unesite validan Pin [Tačno 4 cifre! -> npr. 0001]
                                                                            </div>
                                                                            <div *ngIf="uslovpinZauzet" class="invalid-feedback d-block">
                                                                                Željeni pin je zauzet... Pokušajte sa drugom vrednošću!
                                                                            </div>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="email">Email <span
                                                                            class="text-muted"></span></label>
                                                                            <input type="email" class="form-control" id="email" placeholder="npr. posta@domen.com" value="{{user.email}}" #mail (change)='changeMail(mail.value)'>
                                                                            <div *ngIf="uslovMail" class="invalid-feedback d-block">
                                                                                Unesite validan E-mail.
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="mb-3">
                                                                            <label for="tel">Telefon</label>
                                                                            <input type="text" class="form-control" id="tel" placeholder="npr. 0641112233" value="{{user.contactPhone}}" required="" #tel (change)='changeTel(tel.value)'>
                                                                            <div *ngIf="uslovTelefon" class="invalid-feedback d-block">
                                                                                Unesite validan broj telefona.
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="mb-3">
                                                                            <label for="salary">Plata<span
                                                                            class="text-muted"></span></label>
                                                                            <input type="number" class="form-control" id="salary" placeholder="npr. 55000" value="{{user.salary}}" required=""  #sal (change)='changeSal(sal.value)'>
                                                                            <div *ngIf="uslovPlata" class="invalid-feedback d-block">
                                                                                Unesite validnu vrednost za platu.
                                                                            </div>
                                                                        </div>
                                                    
                                                                    
                                                                    </form>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
 <!-- traka sa dugmicima  -->
										<div class="d-flex align-items-end flex-wrap mt-4">
											<div class="filtaring-area mb-3 mr-3">
												<div class="size-filter">
													<button *ngIf="! isMain" class="btn btn-primary" (click)=setMain() [disabled]='disableGlavni || vanRadnogOdnosa'>Postavi Glavnog</button>
													<button *ngIf="isMain" class="btn btn-primary" (click)=setMain() [disabled]='disableGlavni || vanRadnogOdnosa'>Ukloni Glavnog</button>
												</div>
											</div>
											<!--Quantity start-->
											<div class="col-5 px-0  mb-3 mr-3">
												<button class="btn btn-primary" (click)=otpusti() [disabled]='vanRadnogOdnosa'>Ukloni iz radnog odnosa</button>
											</div>
											<!--Quanatity End-->
											<div class="mb-3 mr-3">
                                                <button *ngIf="vanRadnogOdnosa == false" class="btn btn-primary" (click)='submit()'>Sačuvaj</button>
                                                <button *ngIf="vanRadnogOdnosa == true" class="btn btn-primary" (click)='angazuj()'>Angažuj</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->