.imgbackgr{
    border-radius: 0.5rem;
    background-color: rgba(245, 245, 245, 0.85);
    padding: 0.5rem;

}

.center{
    justify-content: space-around;
}
.mgDesno{
    padding-top: 1rem;
    padding-left: 5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}