<mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Izmena korisnika</h4>
        <button type="button" class="close" aria-label="Close" (click)="matDialogRef.close(null)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="form" (ngSubmit)="submit()">

            <div class="col">
                <div class="form-group">
                    <label class="text-black font-w500">Ime</label>
                    <input type="text" class="form-control" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label class="text-black font-w500">Prezime</label>
                    <input type="text" class="form-control" formControlName="lastName">
                </div>
                <div class="form-group">
                    <label class="text-black font-w500">Email</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sačuvaj</button>
                </div>
            </div>
            <div *ngIf="isEmployee()" class="col">
                <div class="form-group">
                    <label class="text-black font-w500">Telefon</label>
                    <input type="text" class="form-control" formControlName="contactPhone">
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>