<div class="content-body ">
	<div class="container-fluid">
		<div class="row card my-card-style">
            <div *ngIf='oldArticle' class="row space-around">
                <app-view-request [data]='oldArticle'></app-view-request>
                <div *ngIf="requestTypeIsUpdate" class="col ico-container"><img class='ikonica' src="../../../../assets/icons/next.png"></div>
                <app-view-request [data]='newArticle' *ngIf="requestTypeIsUpdate" ></app-view-request>
            </div>
            <div class="row center">
                <button class="btn btn-primary" name="acceptRequest" (click)="prihvati()"> Prihvati</button>&nbsp;
                <button class="btn btn-primary" name="declineRequest"  (click)="odbaci()"> Odbaci</button>
            </div>
        </div>
    </div>
</div>

