.center{
    display: flex;
    justify-content: center;
}

.space-around{
  display: flex;
  justify-content: space-around;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}

.blok{
  display: block;
  height: 40rem;
  width: 30rem;
  background-color: lavender;
}

.my-card-style{
  border-radius: 10px;
  padding-bottom: 1.5rem;
}

.ikonica{
  max-width: 64px;
}

.ico-container{
  display: flex;
  align-items: center;
  justify-content: center;
}