<mat-dialog-content [perfectScrollbar]>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Dodavanje novog sastojka</h4>
        <button type="button" class="close" aria-label="Close" (click)="matDialogRef.close(null)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label class="text-black font-w500">Naziv kategorije</label>
                <input id="food_category_name" type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Opis</label>
                <textarea id="food_category_description" class="form-control" rows="4" formControlName="description"></textarea>
            </div>
            <div class="form-group">
                <button id="save_food_category" type="submit" class="btn btn-primary">Sacuvaj</button>
            </div>
        </form>
    </div>
</mat-dialog-content>
