<tr>
  <td>
    <div class="media">
      <img
        [src]="img"
        alt=""
        class="mr-3 img-thumbnail img-fluid rounded"
        width="100px"
      />
      <div class="media-body">
        <small class="mt-0 mb-1 font-w500">{{
          checkoutItem?.type || ""
        }}</small>
        <h5 class="mt-0 mb-2 mb-sm-3">
          <a class="text-black" href="img">{{ checkoutItem?.name || "" }}</a>
        </h5>
      </div>
    </div>
  </td>
  <td>
    <h4 class="my-0 font-w600">{{ checkoutItem?.quantity || 0 }}x</h4>
  </td>
  <td>
    <h4 class="my-0 font-w600">{{ checkoutItem?.price || 0 }} rsd</h4>
  </td>
  <td c>
    <h4 class="my-0 font-w600">
      {{ (checkoutItem?.quantity || 1) * (checkoutItem?.price || 0) }} rsd
    </h4>
  </td>
  <td>
    <h4 class="my-0 font-w600">{{ checkoutItem?.status }}</h4>
  </td>
</tr>
