<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Pregled artikla</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="first">
                                        <img class="img-fluid" src="http://localhost:8080{{drink.picture}}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-4  col-md-4 col-xxl-5 col-sm-12">
                                <div class="product-detail-content">
                                    <!--Product details-->
                                    <div class="new-arrival-content pr">
                                        <h2>{{drink.name}}</h2>
                                        <hr/>
                                        <div class="d-table mb-2">
                                            <p class="price float-left d-block"><b>Cena: </b>{{drink.price}} RSD</p>
                                        </div>
                                        <div class="d-table mb-2">
                                            <p class="float-right d-block">Priprema: {{drink.preparationPrice}} rsd</p>
                                        </div>
                                        <!-- <p>Id: <span class="item">{{drink.id}}</span> </p> -->
                                        <span *ngIf="drink.alcohol" class="badge badge-danger light mr-1 mb-2">Alkohol</span>
                                        <span *ngIf="!drink.alcohol" class="badge badge-success light mr-1 mb-2">Bezalkoholno</span>
                                        <p>Sastojci:&nbsp;&nbsp;
                                            <p *ngFor="let ingredient of drink.ingredients">
                                                {{ingredient.name}} <span *ngFor="let allergen of ingredient.allergens"  class="badge badge-success light mr-1">{{allergen}}</span>
                                            </p>
                                        
                                        <p class="text-content">{{drink.description}}</p>
                                        <div *ngIf="isMain()" class="tab-content">
                                            <a class="btn btn-primary mr-1 mb-1" (click)="updateDrink()">Izmeni</a>
                                            <a class="btn btn-primary mb-1" (click)="deleteDrink()">Obriši</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>