<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="d-flex flex-wrap mb-1 justify-content-between">
                    <a href="javascript:void(0);" data-toggle="modal" (click)="openAddDialog()"
                        class="btn btn-outline-primary  mr-auto mb-2">Dodaj korisnika</a>

                    <div class="nav-item">
                        <div class="input-group search-area d-xl-inline-flex d-none my-search">
                            <input type="text" class="form-control" placeholder="Pretrazi..." (change)="search($event)">
                            <div class="input-group-append">
                                <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="dataTable1"
                        class="display table text-black dataTablesCard customer-list-tbl card-table  dataTable   mb-4 table-responsive-lg ">
                        <thead>
                            <tr class="bg-primary">
                                <th><strong class="font-w600 wspace-no">ID</strong></th>
                                <th><strong class="font-w600 wspace-no">Ime</strong></th>
                                <th><strong class="font-w600 wspace-no">Prezime</strong></th>
                                <th><strong class="font-w600 wspace-no">Email</strong></th>
                                <th><strong class="font-w600 wspace-no">Plata</strong></th>
                                <th><strong class="font-w600 wspace-no">Tip korisnika</strong></th>
                                <th class="bg-none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let i= index">
                                <td>#{{ user.id}}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.salary}}</td>
                                <td><span class="font-w600">{{user.userType }}</span></td>
                                <td>
                                    <div class="dropdown ml-auto dropdown-no-icon" ngbDropdown display="dynamic">
                                        <div class="btn-link" data-toggle="dropdown" aria-expanded="false" role="button" ngbDropdownToggle>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0005 12C11.0005 12.5523 11.4482 13 12.0005 13C12.5528 13 13.0005 12.5523 13.0005 12C13.0005 11.4477 12.5528 11 12.0005 11C11.4482 11 11.0005 11.4477 11.0005 12Z"
                                                    stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M18.0005 12C18.0005 12.5523 18.4482 13 19.0005 13C19.5528 13 20.0005 12.5523 20.0005 12C20.0005 11.4477 19.5528 11 19.0005 11C18.4482 11 18.0005 11.4477 18.0005 12Z"
                                                    stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M4.00049 12C4.00049 12.5523 4.4482 13 5.00049 13C5.55277 13 6.00049 12.5523 6.00049 12C6.00049 11.4477 5.55277 11 5.00049 11C4.4482 11 4.00049 11.4477 4.00049 12Z"
                                                    stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>
                                            <a class="dropdown-item text-black" (click)="update(user.id, user.userType)">
                                                Izmeni
                                            </a>
                                            <a class="dropdown-item text-black" (click)="delete(user.id)">
                                                Obriši
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="display: flex; justify-content: center">
                        <div>
                            <app-pagination [collectionSize]="numberOfElements" (pageChanged)="changePage($event)"></app-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>