<mat-dialog-content [perfectScrollbar]>

    <div class="modal-header">
        <h4 id="allergens_label" class="modal-title" id="modal-basic-title">Dodavanje novog sastojka</h4>
        <button type="button" class="close" aria-label="Close" (click)="matDialogRef.close(null)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label class="text-black font-w500">Ime</label>
                <input id="ingredient_name" type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Alergeni</label>
                <mat-select id ="choose_allergens" [multiple]="true" formControlName="allergens" placeholder="Izaberite alergene" label="Example label">
                    <mat-option id="allergen_option" *ngFor="let allergen of allAlergens" [value]="allergen">{{ allergen }}</mat-option>
                </mat-select>
            </div>
            <div class="form-group">
                <button id="save_ingredient" type="submit" class="btn btn-primary">Sacuvaj</button>
            </div>
        </form>
    </div>
</mat-dialog-content>
