<div class="row">
    <div class="col-xl-6 pb-3 mb-3 border-bottom" *ngFor = "let item of data">
        <div class="media favourite-item-list">
            <img class="rounded mr-3 food-img" src="http://localhost:8080{{item.picture}}" width="125" alt="">
            <div class="media-body">
                <h5 class="mb-sm-4 mb-3"><a class="text-black">{{item.name}}</a></h5>
                <div class="d-flex mb-2">
                    <svg class="mr-2 card-ico" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="2.04545" height="15" rx="1.02273" fill="#FF720D"/>
                        <rect x="4.09082" y="4.0909" width="2.04545" height="10.9091" rx="1.02273" fill="#FF720D"/>
                        <rect x="8.18164" y="10.2273" width="2.04545" height="4.77273" rx="1.02273" fill="#FF720D"/>
                        <rect x="12.2725" y="2.04546" width="2.04545" height="12.9545" rx="1.02273" fill="#FF720D"/>
                    </svg>
                    <span class="fs-14 text-black"><strong class="mr-1">{{item.count}}</strong> Narudžbi</span>
                </div>
               
            </div>
            <div class="d-inline-block relative donut-chart-sale">        
            </div>
        </div>
    </div>
</div>