<div
  class="container-fluid border h-100"
  *ngIf="!!this.table && this.table.status !== 'UNAVAILABLE'"
>
  <div class="row">
    <div class="col-lg-6">
      <h4>Odabrani sto: {{ !!table && table.tableNumber }}</h4>
    </div>
    <div class="col-lg-6">
      <h4>Status: {{ !!table && table.status }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 space" *ngIf="!!table && table.status === 'FREE'">
      <button class="btn btn-primary w-100" (click)="occupyTable()">
        Zauzmi
      </button>
    </div>
    <div class="col-12 space" *ngIf="!!table && table.status === 'OCCUPIED'">
      <button class="btn btn-primary w-100" (click)="showOrderModal()">
        Porudžbina
      </button>
    </div>
    <div class="col-12 space" *ngIf="!!table && table.status === 'OCCUPIED'">
      <button class="btn btn-primary w-100" (click)="checkout()">
        Naplati
      </button>
    </div>
    <div class="col-12 space" *ngIf="!!table && table.status === 'PAID'">
      <button class="btn btn-primary w-100" (click)="free()">Oslobodi</button>
    </div>
    <div class="col-12 space" *ngIf="!!table && table.status === 'OCCUPIED'">
      <button class="btn btn-primary w-100" (click)="cancel()">Otkaži</button>
    </div>
  </div>
</div>
