:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.element-icon {
  border-radius: 4px;
  background-color: #fff0e4;
  max-width: 100%;
  max-height: 100%;
}

.text {
  position: absolute;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  background-color: white;
  border: 1px solid slategray;
  border-radius: 5px;
  top: 0px;
  left: 0px;
}
