<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Porudžbina</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="matDialogRef.close(null)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <app-order-search
          (onDataChanged)="updateData($event)"
        ></app-order-search>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <app-order-article-list
          (delete)="deleteArticle($event)"
          (deliver)="deliverArticle($event)"
          [orderArticles]="orderArticles"
        ></app-order-article-list>
      </div>
      <div class="col-4">
        <app-order-article-result-list
          [pricelistItems]="pricelistItems"
          (added)="addedItem($event)"
        ></app-order-article-result-list>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Napomena</mat-label>
          <textarea matInput [(ngModel)]="noteText"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row p-1 justify-content-center" *ngIf="mode === 'CREATE'">
      <div class="col-4">
        <button class="btn btn-primary w-100" (click)="createOrder()">
          Ažuriraj
        </button>
      </div>
    </div>
    <div class="row p-1 justify-content-center" *ngIf="mode === 'EDIT'">
      <div class="col-4">
        <button class="btn btn-primary w-100" (click)="updateNote()">
          Ažuriraj napomenu
        </button>
      </div>
    </div>
  </div>
</div>
