#request-naslov{
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #FF720D;
}
.requestKartica{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.padding{
    padding: 0.1rem;
    padding-bottom: 2rem;
    border: 5px solid white;
    border-radius: 25px;
    min-width: 50rem;
}

.slicica{
    max-width: 16rem;
    margin: 0.2rem;
    max-height: 16rem;
  }
  
img {
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 15px;
  }

.fit-content{
      width: min-content;
  }

.my-container{
    width: 100%;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    padding-top: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 32rem;
}

.max-width{
    max-width: 2rem;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {

    font-size: 3rem;
    
}

.ikonica{
    max-width: 64px;
}

.margin-top{
    margin-top: 2rem    
}

.white-txt{
    font-size: large;
    color: whitesmoke;
}

#opis-row{
    max-width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 0.1rem;
    padding: 0.5rem;
    border: 2px solid #FF720D;
    border-radius: 10px;
}

.center{
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

hr {
    margin-top: 1rem;
    border: 0;
    border-top: 2px solid #FF720D;
  }
  