
<div class="padding requestKartica">
    <div class="col styled-border" style="justify-content: center;">
                <h1 id="request-naslov">Zahtev&nbsp;za&nbsp;{{requestType}}</h1>
                <div class="row margin-top">
                    <div class="col-sm-5 fit-content">
                        <img class="slicica" src='{{picture}}' alt="Nema Slike">
                        <div class="col margin-top"><img class='ikonica' src="../../../../assets/icons/user.png">&nbsp;&nbsp;<span class="white-txt">{{CookName}}</span></div>
                    </div>
                    <div class="col">
                        <div class="my-container">
                            <h2>{{name}}</h2>
                            <div class="row margin-top">
                                <div class="col"><img class='ikonica' src="../../../../assets/icons/clock.png">&nbsp;&nbsp;<span class="white-txt">{{preparationTime}}min</span></div>
                                <div class="col"><img class='ikonica' src="../../../../assets/icons/coin.png">&nbsp;&nbsp;<span class="white-txt">{{preparationPrice}}rsd</span></div>
                            </div>
                            <div id="opis-row" class="row">
                                <p>{{description}}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h3>Grupa: {{group}}</h3>
                                </div>
                            </div>
                            <div class="row margin-top center">
                                <div class="col"><img class='ikonica' src="../../../../assets/icons/money.png"></div>
                                <div class="col-9"><h3>Prodajna&nbsp;Cena:&nbsp;<span class="white-txt">{{price}} rsd</span></h3></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
    </div>

</div>