<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>{{ this.orderArticle.name }}</mat-panel-title>
    </mat-expansion-panel-header>
    <h5>{{ this.orderArticle.price }} RSD</h5>
    <h6>Alergeni</h6>
    <ul *ngFor="let a of orderArticle.allergens">
      <li>{{ a }}</li>
    </ul>
    <h5>{{ this.orderArticle.description }}</h5>
    <div class="row">
      <div class="col-6">
        <input type="number" min="1" max="100" [(ngModel)]="qty" />
      </div>
      <div class="col-6 align-content-end">
        <button mat-mini-fab color="primary" (click)="addItem()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
