<mat-dialog-content>

    <div class="modal-header">
        <h4 id="allergens_label" class="modal-title" id="modal-basic-title">Da li ste sigurni?</h4>
        <button type="button" class="close" aria-label="Close" (click)="matDialogRef.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <button id="decline" type="submit" class="btn btn-danger light mr-2" (click)="matDialogRef.close(false)">Otkaži</button>
            <button id="confirm" type="submit" class="btn btn-primary ml-2" (click)="matDialogRef.close(true)">Potvrdi</button>
        </div>
    </div>
</mat-dialog-content>