<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto">
        <app-floor-plan
          mode="VIEW"
          [positionedTables]="tables"
          (onTableClick)="updateSelectedTable($event)"
        ></app-floor-plan>
      </div>
      <div class="col-lg-3 justify-content-center">
        <app-table-options
          [table]="selectedTable"
          (onTableUpdated)="refreshTables()"
        ></app-table-options>
      </div>
    </div>
  </div>
</div>
