<div class="plan-container">
  <div class="left-container" *ngIf="this.mode !== 'VIEW'">
    <div class="available-tables">
      <div
        class="available-table tableMargin"
        *ngFor="let table of tables"
        [attr.data-tableid]="table.code"
        (click)="availableTableClick($event)"
      >
        <app-menu-element
          class="element-image"
          [table]="table"
        ></app-menu-element>
      </div>
    </div>
    <div class="options">
      <div class="container">
        <div class="row">
          <input
            type="checkbox"
            name="grid"
            [checked]="mode === 'EDIT'"
            (change)="gridChanged($event)"
          />
          <label class="no-margins" for="grid">Grid</label>
        </div>
        <div class="row justify-content-between">
          <div class="col-xs-5">
            <button class="btn btn-primary small" (click)="savePlan()">
              Sačuvaj
            </button>
          </div>
          <div class="col-xs-5">
            <button class="btn btn-secondary" (click)="resetPlan()">
              Resetuj
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="delete-table">
      <img
        class="bin-icon"
        src="../../../assets/icons/floor-plan/bin.svg"
        alt=""
      />
    </div>
  </div>

  <div
    #floor
    class="floor"
    [ngClass]="{
      'table-margin grid': this.mode === 'EDIT'
    }"
    [ngStyle]="{ 'background-size': gridSize + 'px ' + gridSize + 'px' }"
  >
    <div
      class="floor-table draggable"
      *ngFor="let table of positionedTables"
      [style.width.px]="
        !!table.tableElement ? table.tableElement.width * gridSize : 50
      "
      [style.height.px]="
        !!table.tableElement ? table.tableElement.height * gridSize : 50
      "
      [attr.data-tableid]="table.id"
      [attr.data-x]="table.leftPos * gridSize"
      [attr.data-y]="table.topPos * gridSize"
      [ngStyle]="{
        transform:
          'translate(' +
          table.leftPos * gridSize +
          'px, ' +
          table.topPos * gridSize +
          'px)'
      }"
      [ngClass]="{
        'selected-table': table.id === selectedTable,
        'floor-table-border': this.mode === 'EDIT'
      }"
      (dblclick)="rotateTable($event)"
      (click)="onPositionedTableClick(table)"
    >
      <div class="handle" *ngIf="this.mode === 'EDIT'"></div>
      <div
        class="toggle-av"
        (click)="toggleTableAvailability(table)"
        *ngIf="this.mode === 'EDIT'"
      ></div>
      <div
        class="bell-box"
        *ngIf="this.mode !== 'EDIT' && !!table.notification"
      >
        <img
          class="bell"
          [src]="'../../../../assets/icons/floor-plan/bell.ico'"
          alt="!"
        />
      </div>
      <div
        class="edit-number"
        *ngIf="this.mode === 'EDIT'"
        (click)="showNumberModal(table)"
      ></div>
      <app-positioned-element-wrapper
        class="element-image"
        [table]="table"
      ></app-positioned-element-wrapper>
    </div>
  </div>
</div>
