$left-container-width: 280px;
$floor-width: 1000px;
$border-radius: 5px;
$thumbnail-size: 50px;
$dashed-border: 1px dashed slategray;

:host {
  width: 100%;
  height: 100%;
}

.plan-container {
  border: 1px solid black;
  display: flex;
  width: fit-content;
  height: 640px;
}

.left-container {
  width: $left-container-width;
  position: relative;
  border: 1px solid gray;
  display: grid;
  justify-content: space-between;
}

.floor {
  width: $floor-width;
  display: flex;
  position: relative;
  border: 1px solid gray;
}

.invisible {
  display: none !important;
}

.table-margin {
  margin: 5px;
}

.drop-active {
  visibility: visible;
  background-color: lightslategray;
  opacity: 0.6;
  transition: background-color 0.25s linear;
  z-index: 0;
}

.drop-inactive {
  visibility: hidden;
  background-color: transparent;
  z-index: -1;
}

.grid {
  margin: 0;
  background-image: repeating-linear-gradient(
      #5d5957,
      #2b2623 1px,
      transparent 1px 100%
    ),
    repeating-linear-gradient(90deg, #5d5957, #2b2623 1px, transparent 1px 100%);
}

.available-tables {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
  overflow-y: auto;
}

.available-table {
  width: $thumbnail-size;
  height: $thumbnail-size;
  background-color: transparent;
  border: $dashed-border;
  border-radius: $border-radius;

  &:hover {
    background-color: lightslategray;
    opacity: 0.2;
  }
}

.element-image {
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

.options {
  margin: 15px;
  display: flex;
  align-self: flex-end;
  height: fit-content;
}

.delete-table {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
}

.bin-icon {
  width: 100px;
  height: 100px;
  user-select: none;
  z-index: inherit;
}

.no-margins {
  margin: 0px !important;
}

.floor-table {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  &:hover {
    background-color: gray;
    opacity: 0.4;
  }
}

.floor-table-border {
  box-sizing: border-box;
  border: $dashed-border;
  border-radius: $border-radius;
}

.selected-table {
  opacity: 0.6;
  box-shadow: 1px 1px 3px 1px lightslategray;
}

.table-to-remove {
  background-color: lightcoral !important;
  opacity: 0.8 !important;
  transition: background-color 0.25s linear;
}

.handle {
  border: 3px solid steelblue;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.toggle-av {
  border: 3px solid coral;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: cell;
  z-index: 1;
}

.bell-box {
  border: 2px dashed purple;
  background-color: purple;
  z-index: 1;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 2px;
  left: 2px;
}

.bell {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.edit-number {
  border: 3px solid orangered;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 2px;
  left: 2px;
  cursor: pointer;
  z-index: 1;
}
