<div class="row">
  <div class="col-3 pr-1">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Alergeni</mat-label>
      <mat-select
        [formControl]="allerg"
        multiple
        (selectionChange)="updateSearchParam()"
      >
        <mat-option *ngFor="let a of allergens" [value]="a.value">
          {{ a.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-3 pr-1">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Tip</mat-label>
      <mat-select
        [(value)]="selectedType"
        (selectionChange)="updateSearchParam()"
      >
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6 pl-1">
    <mat-form-field class="w-100">
      <mat-label>Pretraga</mat-label>
      <input matInput type="text" [(ngModel)]="searchValue" />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="updateSearchParam()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
