<tr>
  <td>
    <h4 class="my-0 font-w600">
      {{ orderArticle.name }}
    </h4>
  </td>
  <td>
    <h4 class="my-0 font-w600">{{ orderArticle.quantity }}</h4>
  </td>
  <td>
    <h4 class="my-0 font-w600">{{ orderArticle.price }} RSD</h4>
  </td>
  <td class="d-md-none d-lg-table-cell">
    <h4 class="my-0 font-w600">
      {{ orderArticle.quantity * orderArticle.price }} RSD
    </h4>
  </td>
  <td class="d-md-none d-lg-table-cell">
    <h4 class="my-0 font-w600">{{ orderArticle.status }}</h4>
  </td>
  <td class="d-md-none d-lg-table-cell">
    <div class="row">
      <button
        mat-icon-button
        color="warn"
        (click)="deleteItem()"
        [disabled]="orderArticle.status !== 'PENDING'"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        (click)="deliverItem()"
        [disabled]="orderArticle.status !== 'READY'"
      >
        <mat-icon>flag</mat-icon>
      </button>
    </div>
  </td>
</tr>
