
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row center">
            <div class="col-xl-10">
                <div class="card bg-transparent shadow-none">
                    <div class="card-header flex-wrap border-0 p-0 justify-content-start">
                        <div class="table-tabs mr-2 mb-3 mr-auto">
                            <ul class="nav nav-tabs" ngbNav #nav="ngbNav" role="tablist">
                                <li class="nav-item" ngbNavItem="AllStatus">
                                    <a class="nav-link" (click)="setFood()"  data-toggle="tab" href="#AllStatus" aria-expanded="false" ngbNavLink>
                                        Hrana
                                    </a>
                                    <ng-template ngbNavContent>
                                        <div class="tab-pane fade active show" id="AllStatus">
                                            <div class="table-responsive rounded table-hover">
                                                <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable1">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>#ID</th>
                                                            <th>Tip</th>
                                                            <th>Naziv</th>
                                                            <th>Kuvar</th>
                                                            <th>Detalji</th>
                                                            <th style="background-image:none;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="alert alert-dismissible border-0" *ngFor = "let e of requests">
                                                            <td>
                                                                <img *ngIf="e.picture"  class="rounded mr-3 food-img" width="125"  src={{e.picture}} alt="slika">
                                                                <img *ngIf="!e.picture"  class="rounded mr-3 food-img" width="125"  src="../../../../assets/images/no-image.png" alt="vinjakSlika">
                                                            </td>
                                                            <td>#{{e.id}}</td>
                                                            <td *ngIf="e.requestType==='DELETE'">BRISANJE</td>
                                                            <td *ngIf="e.requestType==='CREATE'">DODAVANJE</td>
                                                            <td *ngIf="e.requestType==='UPDATE'">IZMENA</td>
                                                            <td>{{e.name}}</td>
                                                            <td>{{e.requestCreatorName}}</td>
                                                            <td>
                                                                <a class="btn btn-primary" href="{{'restaurant/manager/requests/food/' + (e.id)}}">Detalji</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="display: flex; justify-content: center;">
                                                    <div>
                                                        <app-pagination-modular [pageSize]="4" [collectionSize]="numberOfElements" (pageChanged)="changePage($event)"></app-pagination-modular>
                                                    </div>
                                                </div>                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li class="nav-item" ngbNavItem="NewOrder">
                                    <a class="nav-link" (click)="setDrink()" data-toggle="tab" href="#NewOrder" aria-expanded="false" ngbNavLink>
                                        Piće	
                                    </a>
                                    <ng-template ngbNavContent>
                                        <div class="tab-pane" id="NewOrder">
                                            <div class="table-responsive rounded table-hover">
                                                <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable2">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>#ID</th>
                                                            <th>Tip</th>
                                                            <th>Naziv</th>
                                                            <th>Šanker</th>
                                                            <th>Detalji</th>
                                                            <th style="background-image:none;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="alert alert-dismissible border-0" *ngFor = "let e of requests">
                                                            <td>
                                                                <img *ngIf="e.picture"  class="rounded mr-3 food-img" width="125"  src={{e.picture}} alt="slika">
                                                                <img *ngIf="!e.picture"  class="rounded mr-3 food-img" width="125"  src="../../../../assets/images/no-image.png" alt="vinjakSlika">
                                                            </td>
                                                            <td>#{{e.id}}</td>
                                                            <td *ngIf="e.requestType==='DELETE'">BRISANJE</td>
                                                            <td *ngIf="e.requestType==='CREATE'">DODAVANJE</td>
                                                            <td *ngIf="e.requestType==='UPDATE'">IZMENA</td>
                                                            <td>{{e.name}}</td>
                                                            <td>{{e.requestCreatorName}}</td>
                                                            <td>
                                                                <a class="btn btn-primary" href="{{'restaurant/manager/requests/drink/' + (e.id)}}">Detalji</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="display: flex; justify-content: center">
                                                    <div>
                                                        <app-pagination-modular [pageSize]="4" [collectionSize]="numberOfElements" (pageChanged)="changePage($event)"></app-pagination-modular>
                                                    </div>
                                                </div>                                            </div>
                                        </div>
                                        
                                    </ng-template>
                                </li>
                            </ul>
                        </div>

                        <ul _ngcontent-aho-c107="" class="navbar-nav header-right">
                            <li _ngcontent-aho-c107="" class="nav-item">
                                <div _ngcontent-aho-c107="" class="input-group search-area d-xl-inline-flex d-none">
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    
                    <div [ngbNavOutlet]="nav" class=""></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

