// :host {
//   display: flex;
//   justify-content: center;
//   height: 100%;
//   align-items: center;
//   background: linear-gradient(
//     45deg,
//     rgba(2, 0, 36, 1) 0%,
//     rgba(63, 63, 74, 1) 35%,
//     rgba(102, 121, 133, 1) 75%,
//     rgba(109, 131, 135, 1) 89%,
//     rgba(38, 44, 45, 1) 97%
//   );
//   background-size: 400% 400%;
//   animation: gradient 15s ease infinite;
// }

// @keyframes gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }
// .mat-form-field {
//   width: 100%;
//   min-width: 300px;
// }

// mat-card {
//   padding-top: 50px;
// }

// mat-card-title {
//   margin-bottom: 2rem;
//   font-size: 2rem;
// }

// mat-card-title,
// mat-card-content {
//   display: flex;
//   justify-content: center;
// }

// mat-card-content {
//   padding-bottom: 2rem;
// }

// .error {
//   color: red;
// }

// .button {
//   display: flex;
//   justify-content: center;
// }
// button {
//   width: 300px;
//   background-color: rgb(88, 88, 88);
//   color: white;
// }

// button:hover {
//   background-color: rgb(182, 182, 182);
//   color: black;
//   transition: 0.5s ease all;
// }

// .login {
//   display: flex;
//   justify-content: flex-end;
// }

// .button p {
//   margin: 1rem;
// }

// a:link,
// a:visited {
//   color: white;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   width: 100%;
//   height: 100%;
// }
