<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Naplata</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="matDialogRef.close(null)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-checkout-list [checkout]="checkout!"></app-checkout-list>
</div>
<div>
  <h5 class="modal-footer">Ukupna cena {{ checkout?.totalPrice }}</h5>
</div>
<div class="form-group">
  <button class="btn btn-primary" (click)="submit()">Naplati</button>
</div>
