<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row center">
            <div class="col-xl-12">
                <h1>Izveštaj o ostvarenom prometu za tekuću godinu</h1>
                <div class="box">
                    <div class="card-tabs mb-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a *ngIf="yearly == false" class="nav-link active" data-toggle="tab" role="tab" aria-selected="true" (click)="getMonthly()">
                                    Mesečni izvestaj
                                </a>
                                <a *ngIf="yearly !== false" class="nav-link" data-toggle="tab" role="tab" aria-selected="false" (click)="getMonthly()">
                                    Mesečni Izveštaj
                                </a>
                            </li>
                            <li class="nav-item">
                                <a *ngIf="yearly == true" class="nav-link active" data-toggle="tab" role="tab" aria-selected="false" (click)="getYearly()">
                                    Godišnji Izveštaj
                                </a>
                                <a *ngIf="yearly == false" class="nav-link" data-toggle="tab" role="tab" aria-selected="false" (click)="getYearly()">
                                    Godišnji Izveštaj
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
               
                <div *ngIf="!yearly && data" class="row center card" id="reportContainer">
                    <app-basic-chart [data]="data"></app-basic-chart>
                </div>
                <div *ngIf="yearly && data" class="row center card" id="reportContainer">
                    <app-basic-chart [data]="data"></app-basic-chart>
                </div>
            </div>
        </div>
    </div>
</div>