<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Biranje panela</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card" id="bartender_panel" (click)="openInputPin()">
                    <div class="card-body">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <img class="img-fluid" src="https://cdn.theforkmanager.com/static/styles/blog_article_header_image/public/wp-blog/3-el-tenedor-atraer-clientes-bartender-restaurante.jpg?itok=RVUU9aiQ" alt="" height="200px">
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4><a>Šanker</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card" id="waiter_panel"  (click)="openInputPin()">
                    <div class="card-body">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <img class="img-fluid"
                                    src="https://www.greycoatlumleys.co.uk/ugc/images/roles/waiting-staff.jpg"
                                    alt="" height="200px">
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4><a>Konobar</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card" id="cook_panel" (click)="openInputPin()">
                    <div class="card-body">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <img class="img-fluid"
                                    src="https://www.tasteofhome.com/wp-content/uploads/2019/08/chef-cooking-doing-flambe-on-food-shutterstock_1088175734.jpg?fit=700,700"
                                    alt="" height="200px">
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4><a>Kuvar</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>