<mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Promena šifre</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label class="text-black font-w500">Trenutna šifra</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Nova šifra</label>
                <input type="password" class="form-control" formControlName="newPassword">
            </div>
            <div class="form-group">
                <label class="text-black font-w500">Ponovite novu šifru</label>
                <input type="password" class="form-control" formControlName="newPassword2">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Potvrdi</button>
            </div>
        </form>
    </div>
</mat-dialog-content>