:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.element-icon {
  background-color: #fff0e4;
  max-width: 100%;
  max-height: 100%;
}
