<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="bg-primary">
        <th class="text-black font-w500">Stavke</th>
        <th class="text-black font-w500">Kolicina</th>
        <th class="text-black font-w500">Cena</th>
        <th class="text-black font-w500">Ukupno</th>
        <th class="text-black font-w500">Status</th>
        <th class="text-black font-w500">Opcije</th>
      </tr>
      <app-order-article-list-item
        *ngFor="let item of orderArticles"
        [orderArticle]="item"
        (delete)="deleteItem($event)"
        (deliver)="deliverItem($event)"
      ></app-order-article-list-item>
    </tbody>
  </table>
</div>
