<div class="authincation h-100">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a><img src="assets/images/logo-full.png" height="100px"
                                            alt=""></a>
                                </div>
                                <h4 class="text-center mb-4">Aktivacija</h4>
                                <form [formGroup]="form" (ngSubmit)="submit()">
                                    <div class="form-group">
                                        <label><strong>Aktivaciona šifra</strong></label>
                                        <input type="password" class="form-control" value="Password" formControlName="activationPassword">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Aktiviraj</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>