<div class="nav-header">
    <a [routerLink]=[ruta] class="brand-logo">
        <svg height='64px' width="64px" id="eTJGAevx9No1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
            <defs>
                <linearGradient id="eTJGAevx9No2-fill" x1="0.946202" y1="1" x2="0.174077" y2="0" spreadMethod="pad"
                    gradientUnits="objectBoundingBox" gradientTransform="translate(0 0)">
                    <stop id="eTJGAevx9No2-fill-0" offset="0%" stop-color="#093b8e" />
                    <stop id="eTJGAevx9No2-fill-1" offset="100%" stop-color="#71f6b8" />
                </linearGradient>
            </defs>
            <path
                d="M-103.988209,-0.656077C-105.300364,-80.697475,-83.649821,-104.768424,0,-104.378317s104.644287,19.088303,104.378317,104.378317-16.792033,103.332132-104.378317,104.378317-102.676055-19.74438-103.988209-105.034394Z"
                transform="matrix(1.180665 0 0 1.180665 150 149.982705)" fill="url(#eTJGAevx9No2-fill)" stroke-width="0" />
            <path
                d="M60.000002,123.665974c0,0,0,0,58.288492-38.856776c58.274689,38.856776,58.274689,38.856776,58.274689,38.856776s0,67.999359,0,67.999359-42.740363,0-42.740363,0s0-25.356777,0-38.856776c-12,0-19.068652,0-31.068652,0c0,13.499999,0,38.856776,0,38.856776q-42.754166,0-42.754166,0c0,0,0-67.999359,0-67.999359Z"
                transform="matrix(1.029977 0 0 1.029421 28.165572 2.695657)" fill="#fff" stroke-width="0" />
        </svg>
        <div class="brand-title">Tim123</div>
    </a>
    <div class="nav-control">
        <div [ngClass]="{'is-active': hamburgerClass, '': !hamburgerClass}" class="hamburger"
            (click)="toggleHamburgerClass()">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>